@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Bad Script', cursive;
font-family: 'Thasadith', sans-serif; */

* {
    margin: 0;
    font-family: 'Thasadith', sans-serif;
}

.allUsersGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1em;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    z-index: 1;
    background-color: #F8EEE7;
}

@media screen and (max-width: 768px) {
    .allUsersGrid {
        padding-left: 180px;
        height: 100%;
    }
}