@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Bad Script', cursive;
font-family: 'Thasadith', sans-serif; */

* {
    margin: 0;
    font-family: 'Thasadith', sans-serif;
}

.backDrop {
    position: relative;
    top: 0px;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-color: #F8EEE7;
}




@media screen and (max-width: 1440px) {
    .welcomeDiv {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 768px) {
    .backDrop {
        height: 100%;
    }
}

@media screen and (max-width: 425px) {
    .welcomeDiv {
        height: 160px;
        padding: 40px;
        font-size: 1.3em;
    }
}
