@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Bad Script', cursive;
font-family: 'Thasadith', sans-serif; */

* {
    margin: 0;
    font-family: 'Thasadith', sans-serif;
}

.loginForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 300px;
    right: 30px;
    padding: 20px;
    width: 550px;
    height: 300px;
    background-color: rgba(244, 236, 252, 0.879);
}

.loginText {
    color: rgba(55, 8, 97, 0.879);
}

input {
    margin: 20px;
    height: 40px;
    width: 80%;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.loginButtonsDiv {
    display: flex;
}

.loginButton {
    width: 160Px;
    height: 40px;
    margin-left: 20px;
    border: none;
    font-size: 1.4em;
    color: white;
    border-radius: 3px;
    background-color: rgba(158, 120, 196, 0.879);
}