@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    font-family: 'Thasadith', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 320px;
    background-color: #f7eadf;
}

.bubbleSetOne {
    width: 600px;
    height: 320px;
}

.bubbleOne {
    float: left;
    margin-left: 390px;
    margin-top: 50px;
}

.bubbleTwo {
    float: left;
    margin-top: -160px;
    margin-left: 520px;
}

.bubbleSetTwo {
    width: 600px;
    height: 320px;
}

.bubbleThree {
    float: right;
    margin-right: 350px;
    margin-top: -20px;
}

.bubbleFour {
    float: right;
    margin-right: 150px;
    margin-top: -100px;
}

.bubbleFive {
    float: right;
}

.headerFrame {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 280px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgba(240, 226, 252, 0.879);
    box-shadow: 4px 4px 12px #79695b;
}

.headerBorder {
    display: flex;
    justify-content: center;
    width: 580px;
    height: 260px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 130px;
    color: rgba(55, 8, 97, 0.879);
    background-color: #d587cc;
}

.clickForSoaps {
    flex: 2 5;
    margin-left: 80px;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    color: rgba(55, 8, 97, 0.879);
}

.productsNav {
    font-weight: bold;
    color: #fee7ff;
    text-shadow: 3px 3px 8px #b432b8;
}

.pleaseLogIn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 270px;
    font-size: 1.4em;
    font-weight: bold;
    color: #49274A;
}

.login {
    font-size: .8em;
    font-weight: bold;
    color: #fee7ff;
    text-shadow: 3px 3px 8px #b432b8;
}

.register {
    font-size: .8em;
    font-weight: bold;
    color: #fee7ff;
    text-shadow: 3px 3px 8px #b432b8;
}

.welcomeUserText {
    position: relative;
    right: -800px;
    font-size: 2em;
    font-family: 'Bad Script', cursive;
    color: rgba(55, 8, 97, 0.879);
}

.loginUserImage {
    margin-right: 20px;
}

.userDataNav {
    display: flex;
    flex-direction: column;
    color: rgba(126, 70, 174, 0.879);
    margin-right: 20px;
}

.loginUsername {
    margin-right: 10px;
    height: 50px;
    font-family: 'Bad Script', cursive;
    font-size: 2em;
    color: rgba(55, 8, 97, 0.879);
}

.userAccountLink {
    margin-top: 10px;
    line-height: 1;
    height: 25px;
    font-size: 1.2em;
    text-decoration: none;
    color: rgba(55, 8, 97, 0.879);
    text-shadow: 2px 2px 2px rgba(229, 206, 249, 0.879);
}

.logoutButton {
    width: 135Px;
    height: 38px;
    border: none;
    font-size: 1.2em;
    color: #F8EEE7;
    border-radius: 3px;
    background-color: #a507ab;
    border: 2px solid #F8EEE7;
}

.cartImage {
    margin-right: 80px;
    margin-left: 40px;
}

.active {
    padding: 0px 5px;
    text-decoration: none;
    border-top: 2px solid #b432b8;
    border-bottom: 2px solid #b432b8;
    padding-bottom: 2px;
    color: #53fffc;
    text-shadow:3px 3px 8px #b432b8;
}

.activeLogo {
    text-decoration: none;
}


@media screen and (max-width: 1440px) {
    .clickForSoaps {
        font-size: 1.3em;
    }

    .loginUsername {
        font-size: 1.5em;
    }

    .userAccountLink {
        font-size: 1em;
        height: 30px;
        margin-top: 10px;
    }

    .pleaseLogIn {
        font-size: 1.4em;
    }

    .logoutButton {
        font-size: 1.3em;
    }
}


@media screen and (max-width: 1024px) {
    .cartImage {
        margin-left: 10px;
    }
}

@media screen and (max-width: 768px) {
    .pleaseLogIn {
        width: 250px;
        font-size: 1.2em;
        margin-right: 60px;
    }

    .clickForSoaps {
        font-size: 1.2em;
    }

    .loginUserImage {
        position: absolute;
        top: 25px;
        right: 130px;
        width: 30px;
        height: auto;
    }
    
    .loginUsername {
        position: absolute;
        top: 25px;
        right: 50px;
        font-size: 1.1em;
        margin-right: 20px;
    }

    .userAccountLink {
        position: absolute;
        top: 43px;
        right: 60px;
        font-size: .6em;
        font-weight: bold;
        margin-right: 20px;
        height: 22px;
    }

    .cartImage {
        position: absolute;
        top: 20px;
        right: -30px;
        margin-right: 60px;
        margin-left: 40px;
    }
    
    .logoutButton {
        width: 140Px;
        height: 30px;
        margin-right: 50px;
        font-size: 1.2em;
        color: #F8EEE7;
        border-radius: 3px;
        background-color: #a507ab;
        border: 2px solid #F8EEE7;
    }
    
    .clickForSoaps {
        margin-left: 50px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        height: 180px;
    }

    .logoNav {
        margin-top: 20px;
        text-decoration: none;
        width: 140px;
        height: auto;
    }

    .loginUserImage {
        position: absolute;
        top: 30px;
        right: 110px;
        width: 30px;
        height: auto;
    }
    
    .loginUsername {
        position: absolute;
        top: 20px;
        right: 50px;
        font-size: 1.2em;
    }

    .cartImage {
        margin-right: 40px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 120px;
    }

    .logoutButton {
        margin-right: 0px;
        margin-bottom: 20px;
        width: 120Px;
        height: 30px;
        font-size: 1.2em;
    }
    
    .clickForSoaps {
        margin-top: 20px;
        margin-left: 0px;
        font-size: 1em;
    }

    .pleaseLogIn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 60px;
        margin-bottom: 20px;
        width: 250px;
        font-size: 1.2em;
    }

}