@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Bad Script', cursive;
font-family: 'Thasadith', sans-serif; */

* {
    margin: 0;
    font-family: 'Thasadith', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 250px;
    /* background-color: rgba(233, 215, 250, 0.879); */
    background-color: #F8EEE7;
}

.logoNav {
    margin-left: 80px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    /* color: rgba(95, 36, 150, 0.879); */
    color: #49274A;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    /* padding: 20px 140px; */
    /* background-color: rgba(233, 215, 250, 0.879); */
    background-color: #d587cc;
}

.clickForSoaps {
    flex: 2 5;
    margin-left: 80px;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: bold;
    /* color: rgba(95, 36, 150, 0.879); */
    color: #49274A;
}

.productsNav {
    /* flex: 2 5; */
    font-size: 1.1em;
    font-weight: bold;
    /* color: rgba(95, 36, 150, 0.879); */
    color: #fee7ff;
    text-shadow: 3px 3px 8px #b432b8;
}

.pleaseLogIn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    font-size: 1.6em;
    font-weight: bold;
    /* color: rgba(95, 36, 150, 0.879); */
    color: #49274A;
}

.login {
    font-size: .9em;
    font-weight: bold;
    /* color: rgba(233, 98, 254, 0.851); */
    /* color: #49274A; */
    color: #fee7ff;
    text-shadow: 3px 3px 8px #b432b8;
}

.register {
    font-size: .9em;
    font-weight: bold;
    /* color: rgba(233, 98, 254, 0.851); */
    /* color: #49274A; */
    color: #fee7ff;
    text-shadow: 3px 3px 8px #b432b8;
}

.welcomeUserText {
    position: relative;
    right: -800px;
    font-size: 2em;
    font-family: 'Bad Script', cursive;
    color: rgba(55, 8, 97, 0.879);
}

.loginUsername {
    font-family: 'Bad Script', cursive;
    font-size: 2em;
    color: rgba(55, 8, 97, 0.879);
    margin-right: 20px;
}

.loginUserImage {
    margin-right: 20px;
}

.logoutButton {
    width: 160Px;
    height: 40px;
    /* margin-left: 400px;
    margin-right: -400px; */
    border: none;
    font-size: 1.4em;
    /* color: white; */
    color: #F8EEE7;
    border-radius: 3px;
    /* background-color: rgba(233, 49, 166, 0.879); */
    background-color: #a507ab;
    border: 2px solid #F8EEE7;
}

.cartImage {
    margin-right: 80px;
    margin-left: 40px;
}

.active {
    padding: 0px 5px;
    text-decoration: none;
    border-top: 2px solid #b432b8;
    border-bottom: 2px solid #b432b8;
    padding-bottom: 2px;
    /* color: rgba(36, 150, 142, 0.879); */
    /* color: #F8EEE7; */
    color: #53fffc;
    /* text-shadow:2px 2px 3px rgba(102, 252, 242, 0.879); */
    text-shadow:3px 3px 8px #b432b8;
}

.activeLogo {
    text-decoration: none;
}