@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Bad Script', cursive;
font-family: 'Thasadith', sans-serif; */

* {
    margin: 0;
    font-family: 'Thasadith', sans-serif;
}

.singleProductCard {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 420px;
    height: 480px;
    border: 3px solid rgba(229, 194, 255, 0.879);
    border-radius: 3px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(224, 212, 235, 0.879);;
    padding: 20px;
}

.productCardData {
    margin-top: 20px;
    margin-left: 20px;
}

.allProductsImage {

    width: 80%;
    height:auto;
}

.allProductsText {
    margin-bottom: 20px;
}

.addToCart {
    width: 160Px;
    height: 40px;
    margin-top: 20px;
    font-size: 1.4em;
    color: white;
    border-radius: 3px;
    background-color: rgba(158, 120, 196, 0.879);
    border: 2px solid white;
}