@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    color: rgba(55, 8, 97, 0.879);
    font-family: 'Thasadith', sans-serif;
}

.orderCardData {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    margin: 20px;
    padding: 20px; 
    background-color: white;
    border: 3px solid rgba(229, 194, 255, 0.879);
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(224, 212, 235, 0.879);;
}

.userIdOrderNumber {
    text-align: center;
    margin-bottom: 20px;
}

.orderStatus {
    margin-bottom: 20px;
}

.cartProduct {
    margin: 20px 0px;
  
}

