@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    font-family: 'Thasadith', sans-serif;
}

.singleProductCard {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-color: #F8EEE7;
}

.productCardData {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    padding: 40px;
    background-color: white;
    border: 3px solid rgba(229, 194, 255, 0.879);
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(224, 212, 235, 0.879);;
}

.productName {
    text-align: center;
    font-size: 2em;
    color: rgba(55, 8, 97, 0.879);
}

.allProductsCategory {
    text-align: center;
    font-size: 1.5em;
    color: rgba(55, 8, 97, 0.879);
}

.innerProductCardInfo {
    display: flex;
    flex-direction: row;
}

.allProductsImage {
    width: 40%;
    height:auto;
}

.allProductsDescription {
    margin-top: 80px;
    margin-left: 30px;
    color: rgba(55, 8, 97, 0.879);
}

.allProductsPrice {
    margin-top: 40px;
    margin-left: 30px;
    color: rgba(55, 8, 97, 0.879);
}

.addToCartButton {
    position: absolute;
    bottom: -280px;
    left: 450px;
    width: 160Px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 1.4em;
    color: white;
    border-radius: 3px;
    background-color: rgba(158, 120, 196, 0.879);
    border: 2px solid white;
}