@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Bad Script', cursive;
font-family: 'Thasadith', sans-serif; */

* {
    margin: 0;
    color: rgba(55, 8, 97, 0.879);
    font-family: 'Thasadith', sans-serif;
}

.singleUserCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1em;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #F8EEE7;
}

.userCardData {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    padding: 40px;
    background-color: white;
    border: 3px solid rgba(229, 194, 255, 0.879);
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(224, 212, 235, 0.879);;
}

.singleUserTitle {
    text-align: center;
    margin-bottom: 20px;
}

.userImage {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

.singleUserId {
    margin-top: 40px;
    width: 120Px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: rgba(158, 120, 196, 0.879);
}

.singleUserEditButton {
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 5px;
    background-color: rgba(158, 120, 196, 0.879);
}

@media screen and (max-width: 1440px) {
    .singleUserCard {
        display: flex;
        width: 120px;
        height: 0px;
        margin-bottom: 400px;
    }
}

@media screen and (max-width: 425px) {
    .userCardData {
        display: flex;
        flex-direction: column;
        margin-left: -115px;
        width: 300px;
    }
}